<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="sidebar">
    <ul class="sidebar-menu">
      <li><a routerLink="/" class="sidebar-btn active"><i class="fa fa-home"></i> <span class="tooltip">Home</span></a>
      </li>
      <li><a routerLink="/tasks" class="sidebar-btn"><i class="fa fa-tasks"></i> <span class="tooltip">Tasks</span></a>
      </li>
      <li><a routerLink="/calendar" class="sidebar-btn"><i class="fa fa-calendar"></i> <span
            class="tooltip">Calendar</span></a></li>
      <li><a routerLink="/projects" class="sidebar-btn"><i class="fa fa-folder-open"></i> <span
            class="tooltip">Projects</span></a></li>
      <li><a routerLink="/notes" class="sidebar-btn"><i class="fa fa-sticky-note"></i> <span
            class="tooltip">Notes</span></a></li>
      <li><a routerLink="/contact" class="sidebar-btn"><i class="fa fa-phone"></i> <span
            class="tooltip">Contact</span></a></li>
      <li><a routerLink="/about" class="sidebar-btn"><i class="fa fa-id-badge"></i> <span
            class="tooltip">About</span></a></li>
    </ul>
  </nav>

  <!-- Main Content Area -->
  <div class="content-wrapper">
    <!-- Header -->
    <header class="header">
      <div class="header-content">
        <a routerLink="/" class="navbar-brand">Flowcus</a>
        <button id="sidebarToggle" class="btn btn-outline-light d-md-none">
          <i class="fa fa-bars"></i>
        </button>
        <!-- <button (click)="logout()" class="btn btn-danger logout-btn">Logout</button> -->
      </div>
    </header>

    <!-- <div class="master-header">
                <ng-container *ngIf="showHeaderContent">
                    <app-header-content></app-header-content>
                </ng-container>
            </div> -->

    <main class="master-content">
      <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <span>&copy; {{ currentYear }} - Mihir Bambhaniya. All rights reserved.</span>
    </footer>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('sidebarToggle').addEventListener('click', function () {
      document.getElementById('sidebarMenu').classList.toggle('collapsed');
      document.querySelector('.content-wrapper').classList.toggle('expanded');
    });
  });
</script>